# git
.git/
.gitignore/

# docker
Dockerfile
.dockerignore

# Dependency
node_modules/

# tests and code coverage
coverage/
.nyc_output/
.scannerwork/

.DS_Store

# files not required to run the app in container
K8s-deployment/
Jenkinsfile
sonar-project.properties
